/* expanded version of short bio is initially hidden */
div.personbio {
    cursor: pointer
}
div.personbio .expanded {
    display: none;
}
table.personinfo td.personbio#expandedbio {
    white-space: pre-line;
    display: none;
}

img.personpic {
    vertical-align: text-top;
    height: 1em;
    margin-top: 0.1em;
    border-radius: 50%
}

.errorlist { color: red; }

form.inline {
    display: inline;
}

ul.packed {
    margin-top: 0;
    margin-bottom: 0;
}

span.fpr {
    white-space: pre;
    font-family: monospace;
}

#langselector button {
    border: none;
    background: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    color: #0035c7;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    display: inline;
}
#langselector button:hover {
    text-decoration: none;
    color: #00207a;
}
#langselector button.current {
    color: #54638c;
}
#langselector button.current:hover {
    text-decoration: none;
}

#main-navbar1 .dropdown-menu {
    margin-top: 0;
}
