{% load i18n %}
{% load nm %}

<table class="table table-sm">
  <thead>
    <tr>
      <th>{% trans "Statement" %}</th>
      <th>{% trans "Uploaded by" %}</th>
      <th>{% trans "Upload date" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for s in requirement.statements.all %}
    <tr>
      <td>
        <pre class="inline-statement">{{s.statement_clean}}</pre>
        <small><i>{% if s.fpr.fpr %}{% trans "Signed with key" %} {{s.fpr.fpr|fingerprint}}{% else %}{% trans "Unsigned" %}{% endif %}</i></small>
      </td>
      <td>{{s.uploaded_by.a_link}}</td>
      <td>{{s.uploaded_time|date:"Y-m-d"}}</td>
      <td>
        <a href="{% url 'process_statement_raw' pk=process.pk type=requirement.type st=s.pk %}">{% trans "[view raw]" %}</a>
        {% if "fd_comments" in visit_perms %}
        <a class="statement_delete" href="{% url 'process_statement_delete' pk=process.pk type=requirement.type st=s.pk %}">{% trans "[delete]" %}</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% if "edit_statements" in visit_perms %}
  <tfoot>
    <tr>
      <td colspan="3">
        {% if process.applying_for == "dd_e" %}
        <a id="emeritus" href="{% url 'process_emeritus' process.person.lookup_key %}">{% trans "add" %}</a>
        {% elif process.applying_for == "dd_r" %}
        <span id="removal_notice">{% blocktrans %}to comment on this process, please contact <a href="mailto:nm@debian.org">nm@debian.org</a> or add a log entry below.{% endblocktrans %}</span>
        {% else %}
        <a id="statement_add" href="{% url 'process_statement_create' pk=process.pk type=requirement.type %}">{% trans "add" %}</a>
        {% endif %}
      </td>
    </tr>
  </tfoot>
  {% endif %}
</table>
