{% extends "nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "Edit fingerprints for" %} {{person.fullname}}</h1>

<form action="{% url 'fprs_person_list' key=person.lookup_key %}" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %} {{hidden}} {% endfor %}
  {{ form.non_field_errors }}
  {% for f in form.visible_fields %}
  <div class="form-group">
    {{f.label_tag}}
    {{f}}{{f.help_text}}{{f.errors}}
  </div>
  {% endfor %}
  <button class="btn btn-primary" type="submit">{% trans "Add key" %}</button>
</form>

<table class="table table-sm mt-3">
  <thead>
    <tr>
      <th>{% trans "Key" %}</th>
      <th>{% trans "Active" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for fpr in person.fprs.all %}
  <tr>
      <td>{{fpr.fpr|fingerprint}}</td>
      <td>{{fpr.is_active}}</td>
      <td>
        {% if not fpr_is_active %}
        <form action="{% url 'fprs_person_activate' key=person.lookup_key fpr=fpr.fpr %}" method="POST">{% csrf_token %}
          <button class="btn btn-sm btn-primary" type="submit">{% trans "Activate" %}</button>
        </form>
        {% endif %}
      </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

